<%- include('partials/header') -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input class="form-control" type="text" id="postTitle" name="postTitle" value="">

    <label for="postContent">Content</label>
    <textarea class="form-control" id="postContent" name="postContent" rows="3"></textarea>
  </div>
  
  <button class="btn btn-primary" type="submit" name="publish">Publish</button>
</form>

<%- include('partials/footer') -%>
